.container {
    background-color: #f7f8fa;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.detailBox {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e1e4e8;
}

.details {
    margin-bottom: 10px;
    font-size: 18px;
    color: #555;
}

.details:last-detail {
    margin-bottom: 0;
}

/* Dont forget Media Queries */
@media screen and (max-width: 768px) { /* tablets */
    .container {
        padding: 15px;
        max-width: 90%; 
        margin: 30px auto;
    }
    
    .header {
        font-size: 20px;
    }
    
    .details {
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) { /* for phones */
    .container {
        max-width: 95%; 
        margin: 20px auto;
    }

    .detailBox {
        padding: 10px;
    }
}
